* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  letter-spacing: 2px;
}

#banner-desktop {
  height: 80vh;
}

#banner-desktop h1 {
  margin-top: 100px;
}

#banner-desktop button {
  background-color: #cc3300;
  color: white;
  height: 40px;
  width: 140px;
  border: none;
  border-radius: 6px;
}

/*.card-body button {
  background-color: #cc3300;
  color: white;
  height: 50px;
  width: 160px;
  border: none;
  border-radius: 6px;
}*/

#card-section {
  height: 120vh;
  padding-top: 40px;
}

#card-section .card {
  height: 88vh;
  margin-top: 80px;
}

.card-body {
  text-align: center;
}

.card-body img {
  height: 18vh;
  padding-bottom: 15px;
}
