* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  letter-spacing: 2px;
}

#banner-desktop {
  height: 80vh;
}

#banner-desktop h1 {
  margin-top: 100px;
}

#banner-desktop button {
  background-color: #cc3300;
  color: white;
  height: 40px;
  width: 140px;
  border: none;
  border-radius: 6px;
}

/*.card-body button {
  background-color: #cc3300;
  color: white;
  height: 50px;
  width: 160px;
  border: none;
  border-radius: 6px;
}*/

#card-section {
  height: 120vh;
  padding-top: 40px;
}

#card-section .card {
  height: 88vh;
  margin-top: 80px;
}

.card-body {
  text-align: center;
}

.card-body img {
  height: 18vh;
  padding-bottom: 15px;
}

#core-section {
  height: 100vh;
}

#core-section button {
  background-color: #cc3300;
  color: white;
  height: 40px;
  width: 140px;
  border: none;
  border-radius: 6px;
}

#mobi button {
  background-color: #cc3300;
  color: white;
  height: 40px;
  width: 140px;
  border: none;
  border-radius: 6px;
}

#info-section {
  height: 140vh;
  margin-bottom: 100px;
  background-color: #e7e7e7;
}

#info-section .card {
  height: 55vh;
  margin-top: 30px;
}

#info button {
  background-color: #cc3300;
  color: white;
  height: 40px;
  width: 140px;
  border: none;
  border-radius: 6px;
}

#reach-out {
  height: 100vh;
}

#reach-out .card {
  width: 23rem;
  height: 80vh;
}

#reach-out h3 {
  margin-bottom: 35px;
}

form input {
  width: 100%;
  height: 40px;
  margin: 15px 0 15px 0;
  padding: 15px;
  border-radius: 6px;
  border: none;
  border-bottom: 2px solid grey;
}

#reach-out button {
  border-radius: 10px;
  border: none;
  width: 130px;
  height: 40px;
  background-color: #cc3300;
  margin-top: 35px;
}

/* ============= mobile-section ============ */

#banner-mobile {
  height: 70vh;
}

#banner-mobile h3 {
  margin-top: 50px;
}

#banner-mobile p {
  margin-top: 50px;
  line-height: 30px;
}

#banner-mobile button {
  border-radius: 10px;
  border: none;
  width: 130px;
  height: 60px;
  background-color: #cc3300;
  margin-left: 32%;
}

#card-mobile {
  height: 300vh;
  margin-top: 50px;
}

#card-mobile .card {
  width: 21rem;
  height: 85vh;
}

#card-mobile img {
  height: 90px;
  width: 100px;
  margin: auto;
}

#core-mobile {
  height: 100vh;
}

#core-mobile img {
  height: 250px;
  width: 250px;
  margin-left: 50px;
}

#core-mobile h3 {
  margin-top: 60px;
}

#core-mobile p {
  margin-top: 40px;
}

#info-mobile {
  height: 450vh;
  background-color: #e9e9e9;
}

#info-mobile .card {
  width: 18rem;
  height: 400px;
  margin: auto;
}

#info-card button {
  width: 130px;
  height: 40px;
  background-color: #cc3300;
  border-radius: 10px;
  border: none;
}

#form-mobile {
  margin-top: 100px;
  height: 100vh;
}

#form-mobile .card {
  width: 18rem;
  height: 65vh;
}

#mobi-form h4 {
  color: black;
}

#mobi-form form {
  margin-top: 100px;
  width: 100%;
  height: 40px;
  margin: 15px 0 15px 0;
  padding: 15px;
  border-radius: 6px;
  border: none;
}

#mobi-form form input {
  border-bottom: 2px solid grey;
}

#mobi-form button {
  width: 130px;
  height: 40px;
  background-color: #cc3300;
  border-radius: 10px;
  border: none;
  margin-top: 20px;
}
